[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyter = "==1.1.1"
openai = "==1.54.4"
huggingface-hub = "==0.26.2"
transformers = "==4.46.2"
datasets = "==3.1.0"
torch = "==2.5.1"
pillow = "==11.0.0"
numpy = "==1.26.4"
matplotlib = "==3.9.2"
soundfile = "==0.12.1"
librosa = "==0.10.2.post1"
evaluate = "==0.4.3"
jiwer = "==3.0.5"
pandas = "==2.2.3"
accelerate = "1.1.1"
sentence-transformers = "==3.3.1"
langchain = "==0.3.7"
langchain-huggingface = "==0.1.2"
langchain-openai = "==0.2.9"
langchain-community = "==0.3.7"
langgraph = "==0.2.53"
wikipedia = "==1.4.0"
pypdf = "==5.1.0"
unstructured = "==0.16.5"
langchain-chroma = "==0.1.4"

[dev-packages]

[requires]
python_version = "3.11.10"
